menu "Realme product selection"

config PRODUCT_REALME
	bool "Realme devices"
	help
	  This enables support for Realme devices.

config PRODUCT_REALME_SDM660
	bool "Realme SDM660-Common"
        select PRODUCT_REALME
        depends on ARCH_SDM660

config PRODUCT_REALME_RMX1801
	bool "Realme 2 Pro"
	select PRODUCT_REALME_SDM660
	help
	  This enables support for Realme 2 Pro.

endmenu
