menu "KernelSU"

config KSU
	tristate "KernelSU function support"
	select OVERLAY_FS
	default n
	help
	Enable kernel-level root privileges on Android System.

config KSU_DEBUG
	bool "KernelSU debug mode"
	depends on KSU
	default n
	help
	Enable KernelSU debug mode

config KSU_NO_KPROBES
	tristate "KernelSU flags without kprobes"
	default n
	depends on KSU
	help
	Needed for legacy kernel with broken kprobes with patch applied.
	Read more at https://kernelsu.org/guide/how-to-integrate-for-non-gki.html#manully-modify-the-kernel-source

endmenu
